*{
    padding: 0;
    margin: 0;
    text-align: center;
    align-items: center;
}

body{
    background: hsl(0, 0%, 13%);

}

/**/
.app{
    background: white;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 30px;
}

.app h1{
    font-size: 40px;
    font-family: sans-serif;
    background: linear-gradient(45deg,hsl(0, 0%, 49%), hsl(240, 61%, 50%) );
    -webkit-text-fill-color: transparent;
    background-clip: text;
    border-bottom: 2px solid;
    padding-bottom: 15px ;
    text-align: center;
    
}

.quiz{
    padding: 20px 0px;
    text-align: center;
    
}

.quiz h2{
    font-size: 20px;
    color: hsl(0, 0%, 0%);
    font-weight: 600;
}

.btn{
    background: white;
    color: black;
    font-weight: 500;
    width: 100%;
    text-align: left;
    padding: 15px;
    margin: 10px 0;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.5s;
    
}

.btn:hover:not([disabled]){
    background:hsl(0, 2%, 75%);
    transform: scale(1.01);
}

.btn:disabled{
    cursor:no-drop;
}

#next-btn{
    background: linear-gradient(45deg,hsl(0, 0%, 49%), hsl(240, 61%, 50%) );
    padding: 10px 30px;
    border: none;
    border-radius: 15px;
    margin: 10px 0 ;
   /* display: none;*/
   font-size: 20px;
   color: aliceblue;
   cursor: pointer;
   transition: all 0.3s;
}
#next-btn:hover{
    transform: scale(1.05);
    background: linear-gradient(45deg,hsl(240, 61%, 50%), hsl(0,0%,50%) );
    transition: 0.5s;
    
}

.correct{
    background-color: hsl(120, 95%, 70%);
}

.incorrect{
    background: hsl(0, 95%, 70%);
}